<div class=container>
  <div class="row g-3">
  <%= simple_form_for(flat) do |f| %>
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
    <div class="col-md-6">
      <%= f.input :price %>
    </div>
    <div class="col-md-5">
      <%= f.input :flat_type %>
    </div>
    <div class="col-md-2">
        <%= f.input :rating %>
    </div>
    <div class="col-md-5">
      <%= f.input :capacity %>
    </div>
    <div class="col-12">
      <%= f.input :description %>
      <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
    </div>
    <%= f.input :photo, as: :file %>
  </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.button :submit, class: "btn btn-secondary" %>
        <a class="btn btn-secondary" href=flats_path role="button">Back to all flats</a>
    </div>
  <% end %>
</div>
