<div class=container>
  <form class="row g-3">
  <%= simple_form_for(flat) do |f| %>
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
    <div class="col-md-6">
      <%= f.input :price %>
    </div>
    <div class="col-md-6">
      <%= f.input :flat_type %>
    </div>
    <div class="col-md-6">
      <%= f.input :capacity %>
    </div>
    <div class="col-12">
      <%= f.input :description %>
      <%= f.input :address,
      input_html: {data: {address_autocomplete_target: "address"}, class:"d-none"},
      wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
      %>
    </div>
    <div class="d-flex">
        <%= f.input :rating, as: :radio_buttons, collection: [['Good', '1', { class: "one-star" }], ['Very good', '2', { class: "two-stars" }], ["Excellent", 3, { class:"three-stars" }]], label: false %>
    </div>
  </form>
    <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.button :submit, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
