<div class=container>
<%= simple_form_for [@flat, @booking] do |f| %>
 <div class="card-trip">
  <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXBhcnRtZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1200&q=60" />
  <h3><%= @flat.title %></h3>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.button :submit, class: "btn btn-secondary" %>
    <%= link_to "Back to the flat", flat_path(@flat), class: "btn btn-secondary", input_html: {role: "button"}
 %>
  </div>
</div>
<% end %>
</div>
