<div class=container>
<%= simple_form_for [@flat, @booking],data: { controller: 'flatpickr' } do |f| %>
 <div class="card-trip">
   <%= cl_image_tag @flat.photo.key %>
  <h3><%= @flat.title %></h3>
  <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endTime" } }  %>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.button :submit, class: "btn btn-secondary" %>
    <a class="btn btn-secondary" href=flat_path role="button">Back to the flat</a>
  </div>
</div>
<% end %>
</div>
