

<html>
  <body style="background-color: white;">
  <div class="container">
    <h1 class="form_header">Your booking:</h1>
    <div class="card-trip">
      <%= cl_image_tag @booking.flat.photo.key %>
      <div class="card-trip-infos">
        <form class="row g-3">
          <div class="col-md-9">
            <h3><%= @booking.flat.title %></h3>
          </div>
            <div class="col-md-3">
              <h2 class="card-trip-pricing">$<%= @booking.flat.price %></h2>
            </div>
              <div class="col-md-12">
                <p><%= @booking.start_date %></p>
              </div>
                <div class="col-md-12">
                  <p><%= @booking.end_date %></p>
                </div>
            <div class="col-md-12">
              <p><%= @booking.flat.description %></p>
            </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <%= link_to 'Back to all flats', flats_path, class: 'btn btn-secondary' %>
            <%= link_to 'Show all my bookings', user_bookings_path(@flat), class: 'btn btn-secondary' %>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
